# see ReadMe for why these files is ignored
importInputs.m
importSimulationInputs.m
# ignore in- and outputs of runs
/data/
# scripts for cluster settings
*.sh
# various other possible (intermediate) results
*.mat
*.pdf
*.gif
*.erg
*.png
*.mex*
/src/mex-files
/src/erg
*.mp4
*.asv
helpsearch*/
slprj/
sccprj/
codegen/
*.autosave
